@{
    ViewData["Title"] = "Home Page";
}

<header class="bg-primary text-white text-center py-5">
    <div class="container">
        <h1 class="display-4">¡Bienvenido a Nuestra Librería!</h1>
        <p class="lead">Descubre una amplia colección de libros y empieza tu aventura literaria hoy mismo.</p>
    </div>
</header>

<section class="py-5 text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mb-4">
                <div class="card shadow-sm">
                    <img src="https://img.freepik.com/fotos-premium/nino-leyendo-libro-noche-estrellas-brillantes-ai-generativa_1034039-406.jpg" class="card-img-top"
                        alt="Iniciar Sesión">
                    <div class="card-body">
                        <h5 class="card-title">¡Descubre un Mundo Nuevo a Través de la Lectura!</h5>
                        <p class="card-text">¿Alguna vez has soñado con viajar a lugares lejanos, vivir aventuras épicas
                            o conocer personajes fascinantes sin salir de casa? ¡La lectura es tu pasaporte a todo esto
                            y más! Cada libro es una puerta abierta a un universo de conocimiento, emoción y
                            creatividad.

                            Sumérgete en una historia cautivadora, aprende algo nuevo y deja que las palabras te lleven
                            a donde tu imaginación desee ir. No hay límites para lo que puedes descubrir. ¡Haz de la
                            lectura una parte de tu vida y empieza hoy mismo tu próximo gran viaje literario! 🌟📚</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-4">
                <div class="card shadow-sm">
                    <img src="https://via.placeholder.com/500x300?text=Registrarse" class="card-img-top"
                        alt="Registrarse">
                    <div class="card-body">
                        <h5 class="card-title">Registrarse</h5>
                        <p class="card-text">Crea una cuenta para empezar a explorar, guardar tus libros favoritos y
                            mucho más.</p>
                        <a href="register.html" class="btn btn-success">Registrarse</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
