<div>
    <h1>Welcome to the Library App!</h1>
    <p>This is a simple web application developed using ASP.NET Core MVC and Entity Framework Core.</p>
    <p>To get started, click on the links below:</p>
</div>